.home-page-video{
	margin-top: 0;
}

.loader-wrap-video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#home-page {
	overflow: hidden;
	overflow: hidden;
}
.home-page-video-wrapper{
		position: absolute;
		top: 50%;
		right: 0;
		transform-origin: right;
		transform: translateY(-50%);
		background-size: cover;
		background-position: center;
		.home-video-wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
}

.welcome-screen{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	user-select: none;

	&__title{
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 96px;
		line-height: lh(80, 96);
		letter-spacing: -0.02em;
		color: $mc2;
		white-space: nowrap;
		user-select: none;
	}
	&__subtitle{
		font-weight: 500;
		font-size: 20px;
		line-height: lh(30, 20);
		letter-spacing: -0.05em;

		color: #E1DDD2;
	}
	&__logo{
		margin-bottom: 20px;
		width: 25px;
		height: 25px;
		fill: $mc2;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		z-index: 2;
		transform-origin: center;
	}
	&__decor{
		width: 20px;
		height: 2px;
		background-color: $mc2;
	}
}


/**********************************/
/*
* 1st screen start
*/
.home-page-video-wrapper {
	--w: 0;
	--h: 0;
	--padding: 60;
	
	height: calc(var(--h) * 1vh - var(--padding) * 1px);
	width: calc((var(--w) * 1vw) - (var(--padding) / 2) * 1px);
	transform: translateX(-30px) translateY(-50%);

}



.screen-wrap{
	min-width: 100vw;
	min-height: 100vh;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	--side-padding: 50px
}


.home-content-wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
	padding: var(--side-padding) var(--side-padding) 30px var(--side-padding);
}

	
.home-content{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: var(--side-padding) var(--side-padding) 90px var(--side-padding);
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	&__title{
		position: relative;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 30px;
		line-height: lh(50, 30);
		text-align: center;
		letter-spacing: -0.05em;
		color: #CFBE97;
		&::after{
			position: absolute;
			left: 50%;
			bottom: 0;
			display: flex;
			width: 40px;
			height: 2px;
			background-color: $mc;
			transform: translate(-50%, 0%);
			content: "";
		}
	}
	&__text{
		width: 65%;
		margin-bottom: 45px;
		font-weight: 400;
		font-size: 12px;
		line-height: lh(20, 12);
		text-align: center;
		color: #E1DDD2;
	}
	&__link{

	}
}
.home-content--active:not(#kk) {
	pointer-events: auto;
}

/*  */
/*  */
.main-title-wrap {
	position: absolute;
	top: 140px;
	left: 50%;
	z-index: 5;
	transform: translate(-50%, 0%);
}

.home-title-item{
	display: flex;
	flex-direction: column;
	z-index: 5;
	&__title{
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 96px;
		line-height: lh(80, 96);

		text-align: center;
		letter-spacing: -0.05em;
		white-space: nowrap;
		color: #FFFFFF;
	}
	&__subtitle{
		font-weight: 400;
		font-size: 20px;
		line-height: lh(20, 20);
		text-align: center;
		letter-spacing: -0.05em;

		color: #E1DDD2;
	}
}
/*
* 1st screen end
*/
/**********************************/