
extends ../layout/main
block variable
  -
    var title_page = 'Home'
    var id_page = 'home-page-mobile'
    var class_page = 'home-page'
    var content = [
      {
        title: 'Про проєкт',
        text: 'ЖК Montreal House – <b>зразковий стандарт сучасного житла</b> в діловому та культурному центрі Києва. <b>Преміальне житло бізнес-класу,</b> унікальна локація, авторські планування, тераси на верхніх рівнях, підземний паркінг, дитячі ігрові зони, особливе оточення відкривають нові важливості життя <b>у серці столиці.</b>',
        link: pagesLink[0].about
      },
      {
        title: 'Архітектура',
        text: 'ЖК Montreal House – <b>це різноманітність геометричних форм,</b> великі панорамні вікна, лаконічність конструктивних елементів. <b>Кожна деталь виняткова</b> – від унікального під’їзду готельного типу до видових терас на верхніх рівнях. Камінь, метал та скло в оздобленні фасаду підкреслюють особливий статус комплексу та втілюють <b>стрімкість міського середовища.</b>',
        link: pagesLink[0].architecture
      },
      {
        title: 'Тераси',
        text: 'Ексклюзивність комплексу – <b>відкриті тераси на даху,</b> з яких відкриваються приголомшливі види на центр столиці. Зелений парк, бігові доріжки, різноманітні зони – відпочивайте, розважайтеся, займайтеся спортом <b>на фоні панорам улюбленого Києва.</b>',
        link: pagesLink[0].balcony
      },
      {
        title: 'Локація',
        text: '<b>Поруч із комплексом – виняткове оточення:</b> костел Святого Миколая, НСК «Олімпійський», Національний палац «Україна», Національний театр оперети, кращі навчальні та медичні установи, сучасні бізнес-центри, вишукані гастрономічні заклади.',
        link: pagesLink[0].location
      },
      {
        title: 'Дітям',
        text: '<b>Безпосередньо в будівлі</b> передбачені дитячі ігрові локації – простір можна використовувати для проведення свят, майстер-класів, ігор з друзями, розвиваючих занять. Відокремлена територія, шумоізоляція, окремий вхід – створено <b>абсолютно безпечне та комфортне середовище для вашої дитини.</b>',
        link: pagesLink[0].children
      },
      {
        title: 'Будинок',
        text: "<b>З дев'ятиметрового лобі здіймаються в небо 4 різновисотні вежі</b> – від 11 до 20 поверхів. У двох секціях розташовано 328 квартир, на поверсі розташовано 4-6 квартир. На кожну секцію передбачено 2 ліфти, один із яких буде спускатися в 2-рівневий підземний паркінг.",
        link: pagesLink[0].house
      },
      {
        title: 'Забудовник',
        text: 'Компанія «Сітіконсалт Кепіталс Компани» працює у сфері <b>реалізації нерухомості в Києві та Київській області.</b> Ми підберемо та запропонуємо житло, яке буде відповідати <b>усім вашим вимогам в самому серці міста</b>',
        link: pagesLink[0].developer
      },
      // {
      //   title: 'kontact',
      //   text: 'Компанія «Сітіконсалт Кепіталс Компани» працює у сфері <b>реалізації нерухомості в Києві та Київській області.</b> Ми підберемо та запропонуємо житло, яке буде відповідати <b>усім вашим вимогам в самому серці міста</b>',
      //   link: pagesLink[0].developer
      // },
    ]

  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/form.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/home-mobile.js')
block content
    
  .mobile-slider-wrap
    .mobile-slider-main-title
      .mobile-slider-main-title__title(data-mobile-slide-main-title) Montreal House —
      .mobile-slider-main-title__subtitle(data-mobile-slide-main-subtitle) Житловий комплекс бізнес класу по вул. Антоновича 83
    button(type="button" data-mobile-slider-btn--prev).btn--res.mobile-slider-btn.mobile-slider-btn--prev
      +svg('prev')
      span
    button(type="button" data-mobile-slider-btn--next).btn--res.mobile-slider-btn.mobile-slider-btn--next
      +svg('next')
      span архітектура
    +img("award.svg").mobile-slider-item__award(data-animate-award)
    .slider-mobile-counter(data-sl-counter)
      span.slider-mobile-counter__cnt(data-cnt) 01
      span.slider-mobile-counter__separator /
      span.slider-mobile-counter__total(data-total) 07
    .mobile-slider.swiper-container(data-mobile-slider )
      .swiper-wrapper
        each val, i in content
          // ------------------
          // ------------------
          // ------------------
          .swiper-slide.mobile-slider-item(data-swiper-slide data-title= val.title style=" background: url(./assets/images/home/mob/"+i+".jpg) center no-repeat; background-size: cover;")
            .bg-overlay
            .mobile-slider-item-content
              h2( data-mobile-slide-title ).mobile-slider-item__title.usn= val.title
              p( data-mobile-slide-text ).mobile-slider-item__text.usn !{val.text}
              a( data-mobile-slide-link href= val.link).mobile-slider-item__link.link.link-mobile--negative-margin
                span.link__text.usn Дізнатися більше
                span.link-ico.link-ico--margin
                  span.link-ico__stic.bgc--mc
                  +svg('arrow').link__ico.fill--mc
          // ------------------
          // ------------------
          // ------------------
  .mobile-home-content-contact(data-content-home)
    .contact__l(data-gsap-contact-l)
        .contact-l--after
        .mobile-contact-items-wrap
          h2(data-contact-main-title).contact-title.contact-title--mobile-visible Контакти

          .contact-item(data-gsap-contact-item)
            h6.contact-item__title.subtitle-with-decor.subtitle-with-decor--white Відділ продажів:
            p.contact-item__adress.text.text--gold м. Київ, вул. Антоновича, 81(на першому поверсі)
            ul.contact-item__time
              li.text--gold пн-пт: 09:00-19:00
              li.text--gold сб-нд: 10:00-17:00
            a(href="#").contact-item__link.button-second.button-second--color-white
              .button-second__icon
                +svg('map-path').button-second--map-size
              span.button-second__text.button--aylen
                span показати 
                b на мапі
              span.button-second__logo
                +svg('logo-m')
          .contact-item(data-gsap-contact-item)
            h6.contact-item__title.subtitle-with-decor.subtitle-with-decor--white Адреса комплексу:
            p.contact-item__adress.text.text--gold вул. Велика Васильківська, 102 (літера «У») / вул. Антоновича, 83 у Голосіївському районі м. Києва
            a(href="#").contact-item__link.button-second.button-second--color-white.mt--top
              .button-second__icon
                +svg('eye')
              span.button-second__text.button--aylen
                span записатися 
                b на перегляд
              span.button-second__logo
                +svg('logo-m')
    .contact__r(data-gsap-contact-r)
        h2(data-contact-main-title).contact-title.contact-title--mobile-hide Контакти
        h5(data-gsap-form-title).subtitle-with-decor.subtitle-with-decor--white Зворотній зв'язок
        p(data-gsap-form-subtitle).text.text--gold.home-contact-form__text Якщо у вас виникли запитання, ми з радістю дамо відповідь на них
        form(data-mobile-home-contact-page data-gsap-form-elem autocomplete="off").home-contact-form
          .form-field.form-field-input(  data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name").form-field__input
            .input-message(data-input-message) Ім’я:*
          .form-field.disabled.form-field-input(  data-field-input data-field-phone data-status="field--inactive")
            input(type='text' name="phone").form-field__input
            .input-message(data-input-message) Телефон:*
          textarea(placeholder="Повідомлення"  ).textarea-prime
          button( type="submit" data-btn-submit  ).home-content__link.link.home-contact-form__btn
            span(data-btn-submit-text).link__text.usn Надіслати
            span.link-ico.link-ico--margin
              span.link-ico__stic.bgc--wc
              +svg('arrow').link__ico.fill--wc
      
block footer
  include ../includes/footer.pug

block header
