
extends ../layout/main
block variable
  -
    var title_page = 'Home'
    var id_page = 'home-page-desctop'
    var class_page = 'home-page-desctop'
    var content = [
      {
        title: 'Про проєкт',
        text: 'ЖК Montreal House – <b>зразковий стандарт сучасного житла</b> в діловому та культурному центрі Києва. <b>Преміальне житло бізнес-класу,</b> унікальна локація, авторські планування, тераси на верхніх рівнях, підземний паркінг, дитячі ігрові зони, особливе оточення відкривають нові важливості життя <b>у серці столиці.</b>',
        link: pagesLink[0].about
      },
      {
        title: 'Архітектура',
        text: 'ЖК Montreal House – <b>це різноманітність геометричних форм,</b> великі панорамні вікна, лаконічність конструктивних елементів. <b>Кожна деталь виняткова</b> – від унікального під’їзду готельного типу до видових терас на верхніх рівнях. Камінь, метал та скло в оздобленні фасаду підкреслюють особливий статус комплексу та втілюють <b>стрімкість міського середовища.</b>',
        link: pagesLink[0].architecture
      },
      {
        title: 'Тераси',
        text: 'Ексклюзивність комплексу – <b>відкриті тераси на даху,</b> з яких відкриваються приголомшливі види на центр столиці. Зелений парк, бігові доріжки, різноманітні зони – відпочивайте, розважайтеся, займайтеся спортом <b>на фоні панорам улюбленого Києва.</b>',
        link: pagesLink[0].balcony
      },
      {
        title: 'Локація',
        text: '<b>Поруч із комплексом – виняткове оточення:</b> костел Святого Миколая, НСК «Олімпійський», Національний палац «Україна», Національний театр оперети, кращі навчальні та медичні установи, сучасні бізнес-центри, вишукані гастрономічні заклади.',
        link: pagesLink[0].location
      },
      {
        title: 'Дітям',
        text: '<b>Безпосередньо в будівлі</b> передбачені дитячі ігрові локації – простір можна використовувати для проведення свят, майстер-класів, ігор з друзями, розвиваючих занять. Відокремлена територія, шумоізоляція, окремий вхід – створено <b>абсолютно безпечне та комфортне середовище для вашої дитини.</b>',
        link: pagesLink[0].children
      },
      {
        title: 'Будинок',
        text: "<b>З дев'ятиметрового лобі здіймаються в небо 4 різновисотні вежі</b> – від 11 до 20 поверхів. У двох секціях розташовано 328 квартир, на поверсі розташовано 4-6 квартир. На кожну секцію передбачено 2 ліфти, один із яких буде спускатися в 2-рівневий підземний паркінг.",
        link: pagesLink[0].house
      },
      {
        title: 'Забудовник',
        text: 'Компанія «Сітіконсалт Кепіталс Компани» працює у сфері <b>реалізації нерухомості в Києві та Київській області.</b> Ми підберемо та запропонуємо житло, яке буде відповідати <b>усім вашим вимогам в самому серці міста</b>',
        link: pagesLink[0].developer
      },
      // {
      //   title: 'kontact',
      //   text: 'Компанія «Сітіконсалт Кепіталс Компани» працює у сфері <b>реалізації нерухомості в Києві та Київській області.</b> Ми підберемо та запропонуємо житло, яке буде відповідати <b>усім вашим вимогам в самому серці міста</b>',
      //   link: pagesLink[0].developer
      // },
    ]

  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/form.bundle.js')
block content
  .welcome-screen
    .welcome-screen__logo
      +svg('logo')
    h1.welcome-screen__title 
      span Montreal
      span House —
    span.welcome-screen__subtitle welcome
    span.welcome-screen__decor

    
    
  .screen-wrap
    .main-title-wrap
      .home-title-item
        .home-title-item__title(data-home-main-title) Montreal House —
        .home-title-item__subtitle(data-home-main-subtitle) Житловий комплекс бізнес класу по вул. Антоновича 83

    a(href="#" data-gsap-greating data-animate-links).screen-icon-link
      +svg('webcam')
      span.screen-icon-link__text
        span Веб
        span камера
    <svg class="mouse screen screen-icon-scroll" data-gsap-greating data-icon-scroll xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
      <g fill="none" fill-rule="evenodd">
        <rect width="70" height="118" x="1.5" y="1.5" stroke="#CFBE97" stroke-width="5" rx="36"/>
        <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#CFBE97"/>
      </g>
    </svg>
    ul(data-gsap-greating).lang.screen__lang
      li(data-animate-links).lang__item.lang__item--active
        a(href="#") uk
      li(data-animate-links).lang__item
        a(href="#") ru
      li(data-animate-links).lang__item
        a(href="#") en
    

    .decor-social(data-animate-links data-gsap-greating)
    ul(data-gsap-greating).social.screen__social
      li(data-animate-links).social__item
        a(href="#" rel="nofollow" target="_blank") facebook
      li(data-animate-links).social__item
        a(href="#" rel="nofollow" target="_blank") instagram
      li(data-animate-links).social__item
        a(href="#" rel="nofollow" target="_blank") telegram


    .home-content-wrap
      each val, i in content
        .home-content(data-content-home)
          h2( data-home-title ).home-content__title.usn= val.title
          .text-wrap
            +img("award.svg").screen__award(data-animate-award)
            p( data-home-text ).home-content__text.usn !{val.text}
          a( data-home-link href= val.link).home-content__link.link
            span.link__text.usn Дізнатися більше
            span.link-ico.link-ico--margin
              span.link-ico__stic.bgc--mc
              +svg('arrow').link__ico.fill--mc
    .home-content.home-content-contact(data-content-home)
      .contact__l(data-gsap-contact-l)
        .contact-l--after
        h2(data-contact-main-title).contact-title Контакти
        .contact-items-wrap
          .contact-item(data-gsap-contact-item)
            h6.contact-item__title.subtitle-with-decor.subtitle-with-decor--white Відділ продажів:
            p.contact-item__adress.text.text--gold м. Київ, вул. Антоновича, 81(на першому поверсі)
            ul.contact-item__time
              li.text--gold пн-пт: 09:00-19:00
              li.text--gold сб-нд: 10:00-17:00
            a(href="#").contact-item__link.button-second.button-second--color-white
              .button-second__icon
                +svg('map-path').button-second--map-size
              span.button-second__text.button--aylen
                span показати 
                b на мапі
              span.button-second__logo
                +svg('logo-m')
          .contact-item(data-gsap-contact-item)
            h6.contact-item__title.subtitle-with-decor.subtitle-with-decor--white Адреса комплексу:
            p.contact-item__adress.text.text--gold вул. Велика Васильківська, 102 (літера «У») / вул. Антоновича, 83 у Голосіївському районі м. Києва
            a(href="#").contact-item__link.button-second.button-second--color-white
              .button-second__icon
                +svg('eye')
              span.button-second__text.button--aylen
                span записатися 
                b на перегляд
              span.button-second__logo
                +svg('logo-m')
      .contact__r(data-gsap-contact-r)
        h5(data-gsap-form-title).subtitle-with-decor.subtitle-with-decor--white Зворотній зв'язок
        p(data-gsap-form-subtitle).text.text--gold.home-contact-form__text Якщо у вас виникли запитання, ми з радістю дамо відповідь на них
        form(data-home-contact-page data-gsap-form-elem autocomplete="off").home-contact-form
          .form-field.form-field-input(  data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name").form-field__input
            .input-message(data-input-message) Ім’я:*
          .form-field.disabled.form-field-input(  data-field-input data-field-phone data-status="field--inactive")
            input(type='text' name="phone").form-field__input
            .input-message(data-input-message) Телефон:*
          textarea(placeholder="Повідомлення"  ).textarea-prime
          button( type="submit" data-btn-submit  ).home-content__link.link.home-contact-form__btn
            span(data-btn-submit-text).link__text.usn Надіслати
            span.link-ico.link-ico--margin
              span.link-ico__stic.bgc--wc
              +svg('arrow').link__ico.fill--wc
      
            
    .home-page-video-wrapper(data-video-block-wrapper style="background-image: url('./assets/images/home/0.jpg');")
        .bg-overlay
        div(data-gsap-overlay-developer).data-overlay-developer-sl
        <div class="loader-wrap-video  loader-video--hidden" data-video-preloader >
          <div class="loader"></div>
        </div>
        .slider-counter(data-sl-counter data-gsap-greating)
          .slider-counter-inner-wrap(data-sl-counter-inner)
            span.slider-counter__cnt(data-cnt) 01
            span.slider-counter__separator /
            span.slider-counter__total(data-total) 08

        .home-video-wrap(data-video-wrapper)

block footer
  include ../includes/footer.pug

block header
