extends ../layout/main
block variable
    -
        var title_page = headMenu[1].childs[9][0]
        var id_page = headMenu[1].childs[9][1].replace(/.html/,'')
        var class_page = headMenu[1].childs[9][1].replace(/.html/,'')
        var breadcrumbsSubitem = [
            {
                label: headMenu[0].item[0],
                link: headMenu[0].item[1]
            },

        ]
block footer
  include ../includes/footer-inner-pages.pug
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/form.bundle.js')
  script(defer src='./assets/scripts/smooth_scroll.js')
  script(defer src='./assets/scripts/'+id_page+'.js')
block header

block content
    section.page-first-block
        canvas#c
        picture.page-first-block__bg
            source(srcset="./assets/images/web-camera/bg.jpg")
            img(alt="#" src="./assets/images/web-camera/bg.jpg")
        include ../includes/breadcrumbs.pug
        .page-first-block__text-wrap 
            <svg class="page-logo" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path data-path-draw-effect d="M0 37H37V0H0V37ZM33.8975 33.8878H3.10248V3.22742H33.8975V33.8878Z" />
            <path data-path-draw-effect d="M20.294 7.40039V27.9308H16.7573V7.40039H7.39844V31.0804H10.3367V10.5499H13.819V31.0804H23.1778V10.5499H26.7146V31.0804H29.5984V7.40039H20.294Z" />
            </svg>
            h1.page-title(data-gsap-anim-enter) #{headMenu[1].childs[9][0]}
            .page-subtitle.with-line дивіться за процесом будівництва вашого житла у реальному часі
        <svg class="mouse screen screen-icon-scroll" data-icon-scroll xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 76 130" preserveAspectRatio="xMidYMid meet">
            <g fill="none" fill-rule="evenodd">
                <rect width="70" height="118" x="1.5" y="1.5" stroke="#CFBE97" stroke-width="5" rx="36"/>
                <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#CFBE97"/>
            </g>
            </svg>
        ul.lang.screen__lang
            li(data-animate-links).lang__item.lang__item--active
                a(href="#") uk
            li(data-animate-links).lang__item
                a(href="#") ru
            li(data-animate-links).lang__item
                a(href="#") en
        .decor-social(data-animate-links)
        ul.social.screen__social
            li(data-animate-links).social__item
                a(href="#" rel="nofollow" target="_blank") facebook
            li(data-animate-links).social__item
                a(href="#" rel="nofollow" target="_blank") instagram
            li(data-animate-links).social__item
                a(href="#" rel="nofollow" target="_blank") telegram
        .up-arrow(data-up-arrow)
            <svg width="36" height="70" viewBox="0 0 36 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 42L18 2M18 2L24 8M18 2L12 8" stroke="#CFBE97" stroke-width="2"/>
                </svg>
            .text Вгору
    section.page-part
        .web-camera-block
            .web-camera-block__text-wrap 
            .web-camera-block__img-wrap
                <svg class="web-camera-block__play-button" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="35" cy="35" r="34" stroke="#CFBE97" stroke-width="2"/>
                    <circle cx="35" cy="35" r="25" fill="#007275"/>
                    <path d="M30 29V41L40 35L30 29Z" fill="#CFBE97"/>
                    </svg>
                <iframe  style="background:url('./assets/images/web-camera/preview.jpg') center no-repeat" data-src="https://www.youtube.com/embed/IID051nMJWQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
        .text.text--gold Камера по вулиці Велика Васильківська
    section.page-part.double-green
        .web-camera-block
            .web-camera-block__text-wrap 
            .web-camera-block__img-wrap
                <svg class="web-camera-block__play-button" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="35" cy="35" r="34" stroke="#CFBE97" stroke-width="2"/>
                    <circle cx="35" cy="35" r="25" fill="#007275"/>
                    <path d="M30 29V41L40 35L30 29Z" fill="#CFBE97"/>
                    </svg>
                <iframe  style="background:url('./assets/images/web-camera/preview.jpg') center no-repeat" data-src="https://www.youtube.com/embed/IID051nMJWQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
        .text.text--gold Камера по вулиці Антоновича
        a(href=headMenu[1].childs[2][1]).contact-item__link.button-second.button-second--color-white
            .button-second__icon
                +svg('build')
            span.button-second__text.button--aylen
                span Хід 
                b будівництва
            span.button-second__logo
                +svg('logo-m')