$default-font: "montser",
sans-serif;
$default-font2: "montser",
sans-serif;
$mc2: #007275;
$mc: #CFBE97;

:root{
	--in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
}




$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;


.bgc--mc2{
	background-color: $mc2;
}

.color--wc{
	color: $wc;
}