include ../includes/mixins.pug
-
	var pagesLink = [	
		{
			home: '/',
			about: './about.html',
			architecture: './architecture.html',
			balcony: './balcony.html',
			location: './location.html',
			children: './children.html',
			house: './house.html',
			developer: './developer.html',
			contacts: './contacts.html',
		},
	];
	var headMenu = [
	{item: ['Головна','index.html'],childs:[]},
	{item: ['Про проєкт:','#'],childs:[			
		['На даху','on-the-foor.html','./assets/images/menu/points/terrace.jpg'],	
		['Місця загального користування','general-places.html','./assets/images/menu/points/hall.jpg'],	
		['Хід будівництва','build-progress.html'],	
		['Девелопер','developer.html'],	
		['Для детей','for-kids.html','./assets/images/menu/points/for-kids.jpg'],	
		['Архітектура та характеристики	','architeture-and-characteristics.html','./assets/images/menu/points/archi.jpg'],	
		['Розташування та оточення','location.html','./assets/images/menu/points/location.jpg'],	
		['Паркинг',	'parking.html','./assets/images/menu/points/parking.jpg'],	
		['Сервис',	'service.html'],	
	],},
	{item: ['Квартири:','#'],childs:[		
		['Вибiр на 3D Моделi','3d.html'	],	
		['Фiльтрацiя по параметрам','filter.html'],	
		['1-Кімнатні','1-room.html'],	
		['2-Кімнатні','2-room.html'],	
		['3-Кімнатні','3-room.html'	],	
		['4-Кімнатні','4-room.html',],
		['Коменрційна нерухомість','commercial.html'],	
		]},
	{item: ['Новини','news.html'],childs:[]},
	{item: ['Контакти','contacts.html'],childs:[]},
	{item: ['Умови придбання','buy-conditions.html'],childs:[]},
	]
block variable
doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//- Edge и ряд мобильных браузеров слишком умны. Отключим это.
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		//- Фавиконки (https://realfavicongenerator.net)
		//- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
		//- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='../static/favicon.ico')
		//- link(rel='manifest', href='/img/favicon/site.webmanifest')
		//- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
		//- meta(name='msapplication-TileColor', content='#5bbad5')
		//- meta(name='theme-color', content='#000')
		//- meta(name='msapplication-navbutton-color', content='#000')
		//- meta(name='apple-mobile-web-app-status-bar-style', content='#000')
		block meta
		block head

	body(class= class_page id= id_page)
		// START SVG SPRITE
		include ../../assets/svg-sprite/sprite/symbol_sprite.php
		// END SVG SPRITE
		// START LOADER
		include ../includes/loader.html
		// END LOADER
		// START POPUP MODAL
		include ../includes/popup.pug
		// END POPUP MODAL
		// START MENU
		include ../includes/menu.pug
		// END MENU
			
		// -------
		// -------
		// -------
		// -------
		// START HEADER
		block header
		header.header
			include ../includes/header.pug


		// END HEADER
		.page__inner
			.page__content
				block content

			.page__footer-wrapper
				// START FOOTER
				block footer
				// END FOOTER
		block scripts
		script(defer src="./assets/scripts/menu.js")