#build-progress .page__content {
    .page-part {
        padding-top: 160px;
        padding-bottom: 160px;
        // padding-left: calc(var(--self-side-padding) + 8% + 10px);
        // padding-right: calc(var(--self-side-padding) + 8% + 10px);
        @include shift-padding(1);
        align-items: flex-start;
        .build-progress-filter-wrap {
            width: calc(100% / 8 * 3 - 35px);
            margin: 0 auto 0 0;
            width: min(calc(100% / 8 * 3 - 35px), 320px);
            position: sticky;
            top: var(--header-height);
        }
        .progress-galleries {
            width: calc(100% / 8 * 5 - 35px);
            margin: 0 0 0 auto;
        }
        .button-second {
            max-width: 250px;
        }
    }
    .decor-type-vertical {
        --line-color: #CFBE97;
        &>* {
            padding: 20px;
        }
        .decor-type-vertical__top {
            padding-bottom: 100px;
        }
        .decor-type-vertical__top {
            position: relative;
            border-bottom: var(--line-width) solid var(--line-color);
            border-right: none;
            border-left: var(--line-width) solid var(--line-color);
            border-top: var(--line-width) solid var(--line-color);
        }
        .decor-type-vertical__top:before,
        .decor-type-vertical__top:after {
            display: none;
        }
        .decor-type-vertical__bottom:before {
            left: auto;
            top: calc(var(--line-width) / 2);
            right: 0;
            height: calc(var(--delimiter-length) + (var(--line-width) * 2));
            transform: translateY(calc((100% + 1px) * -1)) translateX(100%);
        }
        .decor-type-vertical__bottom {
            border-right: none;
            border-left: var(--line-width) solid var(--line-color);
        }
    }
    .custom-select {
        margin-top: 40px;
        position: relative;
    }
    .progress-galleries>*:nth-last-child(n+2) {
        margin-bottom: 40px;
    }
    @include from(769px) {
        .build-progress-filter-wrap {
            position: sticky;
            top: var(--header-height);
        }
        .page-part {
            padding-left: calc(4.155% + 10px);
            padding-right: calc(4.155% + 10px);
        }
    }
    @include from(1680px) {
        .page-part {
            max-width: 1360px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include to(1024px) {
        .page-part {
            @include shift-padding(1);
        }
    }
    @include to(950px) {
        .page-part {
            @include shift-padding(0);
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    @include to(768px) {
        .page-part {
            @include shift-padding(1);
            padding-left: 0;
            padding-right: 0;
            padding-top: 40px;
            padding-bottom: 40px;
            .build-progress-filter-wrap {
                width: calc(100% / 8 * 3 - 35px);
                margin: 0 auto;
                width: min(calc(100% / 8 * 4 - 35px), 320px);
            }
            .progress-galleries {
                width: calc(100% / 8 * 4 - 35px);
                margin: 0 auto;
            }
            .progress-gallery-link {
                --self-padding-top: 20px;
            }
            .button-second {
                max-width: 250px;
            }
        }
        .decor-type-vertical {
            .decor-type-vertical__top {
                padding-bottom: 30px;
            }
        }
        .custom-select__item-current {
            padding-bottom: 3px;
        }
    }
    @include to(575px) {
        .page-part {
            .build-progress-filter-wrap {
                width: 100%;
            }
            .progress-galleries {
                width: 100%;
                margin-top: 30px;
            }
        }
    }
}

.build-statuses-wrap {
    position: absolute;
    left: calc(50% + 40px);
    transform: translateX(calc(-50% - 40px));
    bottom: calc(var( --self-padding-top) / 2);
    width: calc(100% - 180px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &>* {
        width: calc(25% - (15px * 3));
        // @include size(3);
        // @include shift(0);
    }
    &>*:nth-last-child(n+2) {
        margin-right: 15px;
    }
    &>*:nth-child(2) {
        margin-right: 40px;
    }
    &>*:nth-child(3) {
        margin-left: 40px;
    }
    @include to(950px) {
        &>*:nth-child(2) {
            margin-right: 20px;
        }
        &>*:nth-child(3) {
            margin-left: 20px;
        }
        &>*:nth-last-child(n+2) {
            margin-right: 7.5px;
        }
    }
    @include to(768px) {
        &>*:nth-child(2) {
            margin-right: initial;
        }
        &>*:nth-child(3) {
            margin-left: initial;
        }
        &>*:nth-last-child(n+2) {
            margin-right: initial;
        }
        &>*:nth-last-child(n+3) {
            margin-bottom: 15px;
        }
        &>*:nth-child(even) {
            margin-left: 20px;
        }
        &>*:nth-child(odd) {
            margin-right: 20px;
        }
        &>* {
            width: calc(50% - (35px));
        }
    }
    @include to(575px) {
        bottom: 15px;
        width: 100%;
        &>* {
            width: calc(50% - (25px));
        }
        &>*:nth-child(even) {
            margin-left: 10px;
        }
        &>*:nth-child(odd) {
            margin-right: 10px;
        }
    }
}

.build-status-item {
    display: flex;
    flex-wrap: wrap;
    &__value {
        font-size: 48px;
        line-height: 1em;
        /* identical to box height, or 100% */
        letter-spacing: -0.05em;
        color: #fff;
        display: flex;
        align-items: flex-start;
        margin-right: 10px;
        font-weight: 500;
        height: 1em;
        align-self: flex-end;
    }
    &__value:after {
        content: '%';
        color: $color-gold;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        padding-top: 0.5em;
        margin-left: 5px;
    }
    &__title {
        font-weight: 500;
        font-size: 13.5px;
        line-height: 1.48em;
        color: $color-text-gold;
        align-self: flex-end;
        width: calc(100% - 11ch);
    }
    &__bar {
        position: relative;
        background-color: rgba(207, 190, 151, 0.1);
        height: 6px;
        width: 100%;
        margin-top: 15px;
    }
    &__bar:after {
        content: '';
        transition: 1s;
        position: absolute;
        left: 0;
        top: 0;
        width: var(--self-width);
        height: 100%;
        background-color: #ffffff;
    }
    @include to(1024px) {
        &__value {
            font-size: 36px;
        }
    }
    @include to(950px) {
        &__title {
            font-size: 10px;
            width: calc(100% - 15ch);
        }
        &__bar {
            margin-top: 7px;
        }
        &__title {
            width: calc(100% - 8ch);
        }
    }
    @include to(575px) {
        &__value {
            font-size: 24px;
        }
        &__title {
            width: calc(100% - 12ch);
        }
    }
}

.build-progress-filter-wrap {
    .subtitle-with-decor {
        font-size: 30px;
        line-height: 1.2em;
        color: #ffffff;
    }
}

.custom-select {
    --self-color: var(--white);
    position: relative;
    z-index: 2;
    color: var(--self-color);
    // max-width: 120px;
    min-width: 120px;
    position: relative;
    padding-right: 15px;
    min-height: 52px;
    overflow: hidden;
    transform-origin: bottom;
    &:hover {
        max-height: none;
        overflow: visible;
    }
    &:hover &__item-current {
        border-color: transparent;
    }
    &__items-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        // z-index: 50;
        width: 100%;
        display: flex;
        transition: opacity .3s ease-out;
        flex-direction: column-reverse;
    }
    &.to-bottom &__items-wrapper {
        bottom: auto;
        top: 0;
    }
    svg {
        position: absolute;
        right: 2px;
        bottom: 25px;
        transform: none;
        z-index: 3;
        width: 10px;
        height: 9px;
    }
    &__item {
        font-size: 10px;
        line-height: 3.6em;
        letter-spacing: 0.04em;
        color: $color-white;
        order: 2;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s ease-out;
        padding-left: 5px;
        background-color: $color-green;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
    }
    &__item-current {
        line-height: 50px;
        opacity: 1;
        order: 1;
        transition: border-color .3s ease-out;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__item-current:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $color-gold;
        z-index: 0;
        pointer-events: none;
    }
    &__item:hover {
        color: $color-text-gold;
    }
    &:after {
        content: '';
        height: 0.5px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--self-color);
    }
    &.to-bottom:after {
        bottom: 1px;
    }
    &.to-bottom &__items-wrapper {
        flex-direction: column;
    }
    @include to(575px) {
        min-height: 26px;
        &__item {
            font-size: 14px;
            line-height: 23px;
        }
        &__items-wrapper {
            background: var(--orange);
            padding-left: 5px;
        }
        svg {
            z-index: 3;
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    @include to(375px) {
        // width: 95px;
    }
}

.progress-gallery-link {
    --self-padding-top: 20px;
    --delimiter-width: 20px;
    --decor-border-width: 2px;
    --block-start-left-padding: 20px;
    background-color: #006164;
    display: flex;
    font-size: 10px;
    line-height: 1em;
    color: $color-text-gold;
    text-align: center;
    min-height: 250px;
    overflow: hidden;
    cursor: pointer;
    &>* {
        padding-top: var(--self-padding-top);
        padding-bottom: var(--self-padding-top);
    }
    &__left {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        flex-shrink: 0;
        padding-left: var(--block-start-left-padding);
        margin-right: var(--delimiter-width);
        padding-right: var(--delimiter-width);
        border-top: var(--decor-border-width) solid $color-gold;
        border-left: var(--decor-border-width) solid $color-gold;
        border-right: var(--decor-border-width) solid $color-gold;
    }
    &__left-img {
        overflow: hidden;
        height: 100%;
    }
    &__left img {
        transition: .2s ease-out;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__left:after {
        content: '';
        position: absolute;
        right: calc(var(--decor-border-width) * -1);
        transform: translateX(100%);
        bottom: 0;
        height: var(--decor-border-width);
        width: var(--delimiter-width);
        background-color: $color-gold;
    }
    &__right {
        flex-shrink: 1;
        position: relative;
        height: auto;
        padding: calc(var(--self-padding-top) * 2) var(--block-start-left-padding);
        flex-basis: calc(50% - var(--delimiter-width));
        border-top: var(--decor-border-width) solid $color-gold;
        border-left: var(--decor-border-width) solid $color-gold;
        border-right: var(--decor-border-width) solid $color-gold;
        display: flex;
        flex-direction: column;
    }
    /*Буква М справа снизу*/
    &__right:after {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        /*Для изменения https://yoksel.github.io/url-encoder/*/
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='98' viewBox='0 0 100 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58.0882 0V84.9655H42.1569V0H0V98H13.2353V13.0345H28.9216V98H71.0784V13.0345H87.0098V98H100V0H58.0882Z' fill='%23005557'/%3E%3C/svg%3E%0A");
        width: 33%;
        background-size: contain;
        background-position: bottom right;
        height: 32%;
        position: absolute;
        right: var(--decor-border-width);
        bottom: 0;
        z-index: 0;
    }
    &__right>* {
        z-index: 1;
    }
    &__right>*:last-child {
        margin-top: auto;
    }
    .subtitle-with-decor {
        font-size: 30px;
        line-height: 1.25em;
        margin-top: 10px;
    }
    .plus-element {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: #392425;
        font-size: 9px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: background-color .3s ease-out;
        font-size: 18px;
    }
    @include to(950px) {
        flex-wrap: wrap;
        --self-padding-top: 50px;
        &__left {
            flex-basis: 100%;
            border-top: var(--decor-border-width) solid $color-gold;
            border-bottom: var(--decor-border-width) solid $color-gold;
            border-left: none;
            margin-bottom: var(--delimiter-width);
            border-right: var(--decor-border-width) solid $color-gold;
            padding-bottom: var(--self-padding-top);
            padding: var(--self-padding-top);
        }
        &__left:after {
            content: '';
            position: absolute;
            right: auto;
            left: calc(var(--decor-border-width) * -1);
            // transform: translateX(100%);
            top: calc(100% + var(--decor-border-width));
            width: var(--decor-border-width);
            height: var(--delimiter-width);
            background-color: $color-gold;
        }
        &__right {
            flex-basis: 100%;
            border-top: var(--decor-border-width) solid $color-gold;
            border-bottom: var(--decor-border-width) solid $color-gold;
            border-left: none;
            margin-bottom: 0;
            border-right: var(--decor-border-width) solid $color-gold;
            padding-bottom: var(--self-padding-top);
            padding: var(--self-padding-top);
        }
    }
    @include to(768px) {
        .subtitle-with-decor {
            font-size: 24px;
            line-height: 1.25em;
        }
    }
    @include to(575px) {
        --self-padding-top: 20px;
    }
    @include from(951px) {
        max-height: 300px;
    }
    @include from(769px) {
        &:hover img {
            transform: scale(1.1);
        }
        .plus-element:hover {
            background-color: $color-gold;
        }
    }
}

.build-gallery-popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    // overflow: scroll;
    left: 0;
    top: 0;
    background-color: $color-green;
    z-index: 50;
    padding: var(--self-side-padding);
    visibility: hidden;
    opacity: 0;
    &__img-view {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
        }
        .loader {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: single2 4s infinite ease-in-out;
        }
        z-index: -1;
    }
    &__img-view:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 53.96%);
        z-index: 5;
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1em;
        /* identical to box height, or 100% */
        display: flex;
        align-items: center;
        letter-spacing: -0.05em;
        /* White */
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 10px;
        line-height: 1em;
        /* identical to box height, or 100% */
        text-transform: uppercase;
        /* Gold */
        color: #CFBE97;
    }
    &__img-slider {
        height: 100px;
        @include size(10);
        display: flex;
        position: absolute;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);
        bottom: var(--self-side-padding);
        transition: .3s ease-out;
        img {
            transition: .3s ease-out;
            border: 2px solid transparent;
            width: 100px;
        }
        img[class*=active] {
            border: 2px solid $color-gold;
        }
    }
    .prev-gallery,
    .next-gallery {
        font-weight: bold;
        font-size: 12px;
        line-height: 1.33em;
        /* identical to box height, or 133% */
        text-transform: uppercase;
        /* White */
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: calc(var(--header-height) + 50px);
    }
    .prev-gallery {
        left: var(--self-side-padding);
        svg {
            margin-right: 10px;
        }
    }
    .next-gallery {
        svg {
            transform: rotate(0.5turn);
            margin-left: 10px;
        }
        flex-direction: row-reverse;
        right: var(--self-side-padding);
    }
    &__wrap-nav {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100px + var(--self-side-padding));
    }
    &__wrap-nav>* {
        transition: .3s ease-out;
        transform: translateY(100px) translateX(-50%) !important;
    }
    &__wrap-nav:hover>* {
        transform: translateX(-50%) !important;
    }
    &-close {
        position: absolute;
        right: var(--self-side-padding);
        top: var(--self-side-padding);
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1em;
        text-transform: lowercase;
        /* identical to box height, or 14px */
        text-align: right;
        /* Text gold */
        color: #E1DDD2;
        cursor: pointer;
        svg {
            transition: transform .3s ease-out;
        }
        span {
            margin-right: 10px;
        }
    }
    &__wrap-title {
        position: absolute;
        left: 50%;
        top: var(--self-side-padding);
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .arrow-next {
        position: absolute;
        right: calc(8% - 20px);
        transform: translateY(50%);
        bottom: calc(var(--self-side-padding) + 50px);
    }
    .arrow-prev {
        position: absolute;
        transform: translateY(50%);
        left: calc(8% - 20px);
        bottom: calc(var(--self-side-padding) + 50px);
    }
    @include from(769px) {
        &__img-slider img:hover {
            cursor: pointer;
            border-color: $color-gold;
        }
        &-close:hover svg {
            transform: rotate(0.5turn);
        }
    }
    @include to(768px) {
        &__wrap-nav>* {
            transform: translateX(-50%) !important;
        }
    }
    @include to(575px) {
        &>svg {
            width: 100px;
        }
        .prev-gallery,
        .next-gallery {
            font-size: 10px;
        }
        &__title {
            font-size: 24px;
        }
        &-close svg {
            height: 38px;
            width: 38px;
        }
        &__wrap-nav {
            height: calc(50px+var(--self-side-padding))
        }
        &__img-slider {
            height: 50px;
        }
        &__img-slider img {
            width: 50px;
        }
        .arrow-next,
        .arrow-prev {
            bottom: calc(var(--self-side-padding) + 25px);
        }
    }
}

svg[data-side] {
    transition: transform .3s ease-in-out;
}

svg[data-side="leftSide"] {
    transform: rotate(-180deg);
}