@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';

@import './pages/home.scss';


.video-view--cover{
	object-fit: cover;
	background-size: cover;
	background-size: cover;
	background-size: cover;
}

video{
	width: 100%;
	height: 100%;
}

.link{
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 400;
	font-size: 20px;
	line-height: lh(18, 20);
	letter-spacing: -0.05em;

	color: #FFFFFF;
	&__ico{
		width: 20px;
		height: 18px;
	}
	&__text{
		margin: 0 10px;
	}
}

.fill--mc{
	fill: $mc2;
}

.fill--wc{
	fill: $wc;
}