#news-single {
    .page__content {
        background: url(../images/news-single/bg.jpg) top no-repeat;
        background-size: 100vw;
    }
    .breadcrumbs {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    section:first-child {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 160px;
    }
    .breadcrumbs {
        width: 100%;
    }
}

.news-item {
    --border-color: #CFBE97;
    --border-width: 2px;
    --decor-height: 360px;
    --decor-gap: 18px;
    @include size(8);
    position: relative;
    min-height: var(--decor-height);
    margin-left: calc((var(--decor-gap) + var(--border-width)) * 2);
    padding-left: calc(100% / 8);
    padding-right: calc(100% / 8);
    padding-top: 60px;
    background-color: $color-green-black;
    padding-bottom: 105px;
    .left,
    .top,
    .right,
    .gap-top,
    .gap-bottom,
    .left-line-1st,
    .left-line-2nd {
        background-color: var(--border-color);
        position: absolute;
    }
    .top {
        width: 100%;
        top: 0;
        left: 0;
        height: var(--border-width);
    }
    .left {
        top: 0;
        left: 0;
        height: var(--decor-height);
        width: var(--border-width);
    }
    .right {
        right: 0;
        top: 0;
        height: var(--decor-height);
        width: var(--border-width);
    }
    .gap-top {
        top: 0;
        left: calc((var(--border-width) + var(--decor-gap)) * -2 + var(--border-width) + 2px);
        width: var(--decor-gap);
        height: var(--border-width);
    }
    .gap-bottom {
        top: calc(var(--decor-height) - var(--border-width));
        left: calc((var(--border-width) + var(--decor-gap)) * -1 + var(--border-width));
        width: var(--decor-gap);
        height: var(--border-width);
    }
    .left-line-1st {
        top: 0;
        background-color: var(--border-color);
        left: calc((var(--border-width) + var(--decor-gap)) * -1 + var(--border-width));
        height: var(--decor-height);
        width: var(--border-width);
    }
    .left-line-2nd {
        top: 0;
        background-color: var(--border-color);
        left: calc((var(--border-width) + var(--decor-gap)) * -2 + var(--border-width));
        height: var(--decor-height);
        width: var(--border-width);
    }
    h1 {
        font-size: 48px;
        line-height: 1em;
        /* or 100% */
        letter-spacing: -0.05em;
        color: #ffffff;
        margin-bottom: 40px;
    }
    &__date {
        color: $color-text-gold;
        font-size: 10px;
        line-height: 1em;
        margin-bottom: 20px;
    }
    b {
        display: inline-block;
        font-size: 20px;
        line-height: 1.5em;
        font-weight: 500;
        letter-spacing: -0.05em;
        color: $color-text-gold;
        margin-bottom: 1.71em;
    }
    p {
        color: $color-text-gold;
        font-size: 14px;
        line-height: 1.71em;
        margin-bottom: 1.71em;
    }
    img {
        margin-bottom: 40px;
    }
    b,
    p {
        padding-left: calc((100% / 8 * 1.5) + var(--self-side-padding));
        padding-right: calc((100% / 8 * 1.5) + var(--self-side-padding));
    }
}

.last-news-section {
    @include shift-padding(2);
    margin-left: calc(var(--self-side-padding) * -1);
    margin-right: calc(var(--self-side-padding) * -1);
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subtitle {
        font-size: 48px;
        line-height: 1em;
        letter-spacing: -0.05em;
        color: $color-text-gold;
    }
    &>*:not(:last-child) {
        margin-bottom: 60px;
    }
}

section.dark-green {
    background-color: $color-green-black;
}