#service {
    .page-part>* {
        width: 100%;
    }
    @include from(951px) {
        .footer-wrap {
            @include shift-padding(1);
        }
        .page-part:not(.double-green) {
            @include shift-padding(1);
        }
        .page-part.double-green {
            @include shift-padding(1);
        }
    }
    @include to(950px) {
        .page-part>* {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    @include to(575px) {}
}